body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
h1 {
  font-size: 50px;
}
h1 span {
  color: orange;
}
.half-width img {
  width: 100%;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
p {
  color: dimgray;
}
.bio-area {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
h2 {
  font-size: 40px;
}
.recepiece-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.recepiece-area h3 {
  color: orange;
}

.recepiece-area div {
  box-shadow: 5px 7px 40px 40px rgb(216, 208, 208);
  height: 80%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  background-size: 300px 100px;
}
.central-text {
  text-align: center;
  border-bottom: 100px;
}
.recepie-photo {
  border-left: 7px solid;
  border-image: linear-gradient(white, white);
  border-image-slice: 1;
  border-radius: 45px;
  max-width: 25%;

  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.photo-section {
  width: 100%;
  height: 60%;
}
